---
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Container from "@/components/layout/Container.astro";
import PageHeader from "@/components/layout/PageHeader.astro";
import PageTitle from "@/components/layout/PageTitle.astro";
import PageSubtitle from "@/components/layout/PageSubtitle.astro";
import PlusIconDivider from "@/components/PlusIconDivider.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");

const images = import.meta.glob<{ default: ImageMetadata }>(
  "@/assets/img/ventures/**/*.{jpg,jpeg,png,webp}",
  { eager: true }
);

function getImage(path: string) {
  const key = `/src/assets/img/${path}`;
  return images[key]?.default;
}
---

<BaseLayout
  title="Ventures & Projects - Titus Gahissy"
  description="Explore the ventures and projects I'm building as a founder or investor. Ideas and concepts I'm passionate about bringing to life."
>
  <Container>
    <PageHeader>
      <PageTitle>
        I'm always exploring <br class="hidden md:block" />new ideas and
        concepts
      </PageTitle>
      <PageSubtitle>
        Here are some projects <br class="hidden md:block" />I'm working on as a
        founder or investor.&nbsp;<br class="hidden md:block" />
        None of these projects are client work.
      </PageSubtitle>
    </PageHeader>

    <div class="grid md:grid-cols-2 gap-12 relative mt-12">
      {
        projects.map(async (project, index) => {
          const { Content } = await project.render();
          return (
            <div class="flex flex-col py-8 md:py-12 relative">
              {index === 0 && <PlusIconDivider class="absolute -top-8" />}

              <div class="relative h-60 md:h-110 xl:h-96 overflow-hidden rounded-t md:rounded-t-lg">
                {getImage(project.data.image) && (
                  <Image
                    src={getImage(project.data.image)}
                    alt={project.data.title}
                    class="object-cover w-full h-full"
                  />
                )}
              </div>
              <div class="pt-8 xl:pt-12 bg-muted px-6 xl:px-12 rounded-b-lg pb-12 text-foreground">
                <h2 class="text-lg md:text-xl uppercase font-bold tracking-wider flex items-center gap-2">
                  <span>{project.data.title}</span>
                </h2>
                <div class="pb-2 text-base md:text-lg font-medium">
                  {project.data.summary}
                </div>
                <div class="md:pt-4 prose-sm md:prose xl:prose-lg prose-p:!my-2.5 md:h-72 text-foreground">
                  <Content />
                </div>
                <div class="pt-2 md:pt-4 text-foreground text-sm xl:text-lg">
                  {project.data.url ? (
                    <a
                      href={project.data.url}
                      target="_blank"
                      class="font-semibold flex items-center gap-1 uppercase tracking-wider"
                    >
                      <span>Visit {project.data.title}</span>
                      <span class="text-[0.8rem]">&#8599;</span>
                    </a>
                  ) : (
                    <span class="font-bold uppercase tracking-wide">
                      {project.data.release ?? "Coming soon"}
                    </span>
                  )}
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </Container>
</BaseLayout>
